@import "media";

.header {
  width: 100%;
  height: 90px;
  background: #444;
  @include display-flex();
  flex-direction: row;

  &__hamburger {
    display: none;
  }

  &__logo {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding: 20px 0 0 40px;
    width: 160px;
    display: block;

    span {
      display: block;
      float: left;
      width: 27px;
      text-align: center;
      //@include display-flex();

      &:nth-child(1) {
        color: $colorLightRed;
        background-color: #fff;
      }

      &:nth-child(2) {
        background-color: $colorLightRed;
      }
    }
  }

  &__text {
    margin: 30px 0 0 10px;
    color: #fff;
    font-size: 18px;
  }
}

.header-icons {
  margin: 30px 30px 0 auto;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    margin-right: 20px;

    i {
      display: inline-block;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      i {
        @include scale(1.3)
      }
    }
  }
}
