@media (max-width: 768px) {
  body {
    .header {
      height: 60px;

      &__hamburger {
        display: block;
        margin-top: 10px;
      }

      &__logo {
        padding: 10px 0 0 0;
        font-size: 30px;
      }

      &__text {
        display: none;
      }
    }

    .header-icons {
      margin: 20px 10px 0 auto;
      width: 110px;

      a {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}