@import "media";

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  &__item {
    width: 110px;
    list-style: none;
    text-align: center;
    position: relative;

    a {
      text-decoration: none;
      color: #424242;
      text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
      font-size: 20px;
      width: 100%;
      display: block;
      padding: 15px 0;
    }

    &::before {
      content: '';
      opacity: 0;
      display: block;
      width: 100%;
      height: 10px;
      background: #f24e65;
      position: absolute;
      margin-top: -10px;
      @include transition-transform(0.5s, opacity 0.5s);
    }

    &:hover,
    &.is-active {
      &::before {
        opacity: 1;
      }

      a {
        background: #f8f8f8;
        color: #f24e65;
      }
    }
  }
}
