@media (max-width: 1110px) {
  body {
    .menu {
      &__item {
        width: 100px;

        a {
          font-size: 16px;
          padding: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    .menu {
      width: 100%;
      background: #e0e0e0;
      position: absolute;
      z-index: 1;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 5ms;

      &__item {
        &.is-active {
          &::before {
            opacity: 0;
          }
        }

        &:hover {
          &::before {
            opacity: 0;
          }
        }

        a {
          font-size: 14px;
        }
      }
    }

    &.menu-open {
      .menu {
        opacity: 1;
      }
    }
  }
}