@import "media";

.content {
  @include display-flex();
  @include flex-wrap();
  margin-top: 70px;

  &__item {
    width: 190px;
    height: 190px;
    margin: 0 0 20px 20px;
    background-color: $colorLightRed;

    &_life,
    &_customize {
      width: 400px;
    }

    &_customize {
      background-color: #444;
      @include display-flex();
      color: #fff;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }
  }
}

.content-line {
  //@extend .content;
  margin-left: 20px;
  height: 10px;
  background-color: #444;
  width: 1030px;
  @include display-flex();

  &__item {
    width: 190px;
    height: 100%;
    margin-right: 20px;
    background: none;

    &:last-child {
      margin-right: 0;
    }

    &_long {
      width: 400px;
    }

    &.is-active {
      background-color: #fe2268;
    }
  }
}

.content-item {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__title {
    font-weight: 800;
    font-size: 14px;
    margin-top: 20px;
  }

  &__description {
    font-size: 8px;
    text-align: left;
    width: 70%;
  }

  &__image {
    font-size: 42px;
  }

  &__button {
    color: #000;
    font-size: 8px;
    background: #fff;
    border: 1px solid #c8c8c8;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &:not(.content-item_extended) {
    .content-item__description {
      margin-bottom: 15px;
    }
  }

  &_extended {
    .content-item {
      &__title {
        font-size: 12px;
        font-weight: 500;
      }

      &__description {
        text-align: center;
      }
    }
  }
}

.content-item-life {
  background: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #444;

  &__features {
    margin-top: 15px;

    i {
      font-size: 15px;
      margin: 0 3px;
      border: 2px solid #000;
      padding: 6px;
      border-radius: 30px;
      width: 15px;
      height: 15px;
      display: inline-block;
    }
  }

  &__your-idea {
    font-size: 20px;
    font-weight: 300;
  }

  &__your-life {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

.content-item-customize {
  padding: 0 10px;

  &__icon {
    font-size: 30px;
  }

  &__title {
    font-size: 11px;
    margin-top: 10px;
    font-weight: 400;
  }

  &__description {
    font-size: 7px;
    line-height: 7px;
    margin-top: 7px;
  }
}

