@media (max-width: 1110px) {
  body {
    .content {
      margin-top: 40px;

      &__item {
        width: 140px;
        margin: 0 10px 10px 0;

        &_life,
        &_customize {
          width: 290px;
        }

        &:nth-child(4n-3) {
          margin-left: 10px;
        }
      }
    }

    .content-item {
      &__description {
        width: 80%;
      }
    }

    .content-line {
      width: 740px;
      margin: 0 auto;

      &__item {
        width: 140px;
        margin-right: 10px;

        &_long {
          width: 290px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    .content {
      clear: both;
      &__item {
        width: 48%;
        margin: 1%;

        &_life,
        &_customize {
          width: 98%;
        }

        &:nth-child(4n-3) {
          margin-left: 1%;
        }

        &_customize {
          flex-wrap: wrap;
        }
      }
    }

    .content-item {
      &_support,
      &_gallery {
        order: 1;
      }
    }

    .content-item-customize {
      &__title {
        font-weight: 800;
        font-size: 8;
      }
    }

    .content-line {
      display: none;
    }
  }
}

//@media (max-width: 400px) {
//  body {
//
//  }
//}