@import "media";

.footer {
  height: 120px;
  width: 100%;
  margin-top: 40px;
  background-color: #444;
  @include display-flex();
  justify-content: center;
  color: #fff;
}

.footer-item {
  width: 215px;
  margin: 25px 20px 0 0;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 7px;
    color: #bbb;
  }

  i {
    font-size: 33px;
    margin-right: 5px;
  }
}