@media (max-width: 1110px) {
  body {
    .footer-item {
      width: 175px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 768px) {
  body {
    .footer {
      margin-top: 10px;
      flex-wrap: wrap;
      height: initial;
    }

    .footer-item {
      width: 48%;
      margin: 3% 1%;

      &:last-child {
        margin: 3% 1%;
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    .footer-item {
      i {
        font-size: 28px;
      }

      &__title {
        font-size: 12px;
      }
    }
  }
}