@import "media";

.features {
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  height: 90px;
  @include display-flex();
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 2px solid #ccc;

  &__item {
    height: 100%;
    width: 240px;
    border-right: 2px solid #ccc;
    list-style: none;
    font-size: 14px;
    line-height: 700%;

    i {
      font-size: 33px;
      margin-right: 5px;
    }

    &:last-child {
      border-right: none;
    }
  }
}