@media (max-width: 1110px) {
  body {
    .features {
      height: 70px;

      &__item {
        line-height: 600%;
        font-size: 13px;

        i {
          font-size: 29px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    .features {
      display: block;
      float: right;
      margin: 3% 1% 0;
      border: none;
      width: 48%;
      height: initial;

      &__item {
        @include display-flex();
        justify-content: center;
        align-items: center;
        width: 100%;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    .features {
      display: none;
    }
  }
}