@font-face {
  font-family: 'testfont';
  src:  url('fonts/testfont.eot?kx5zwn');
  src:  url('fonts/testfont.eot?kx5zwn#iefix') format('embedded-opentype'),
    url('fonts/testfont.ttf?kx5zwn') format('truetype'),
    url('fonts/testfont.woff?kx5zwn') format('woff'),
    url('fonts/testfont.svg?kx5zwn#testfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'testfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticon-house:before {
  content: "\e909";
}
.ticon-computer:before {
  content: "\e90a";
}
.ticon-account:before {
  content: "\e90b";
}
.ticon-call:before {
  content: "\e90c";
}
.ticon-printer:before {
  content: "\e90d";
}
.ticon-key:before {
  content: "\e90e";
}
.ticon-camera:before {
  content: "\e900";
}
.ticon-earth:before {
  content: "\e901";
}
.ticon-heart:before {
  content: "\e902";
}
.ticon-lamp:before {
  content: "\e903";
}
.ticon-mail:before {
  content: "\e904";
}
.ticon-maintenance:before {
  content: "\e905";
}
.ticon-man:before {
  content: "\e906";
}
.ticon-map:before {
  content: "\e907";
}
.ticon-movie:before {
  content: "\e908";
}
.ticon-cart:before {
  content: "\e93a";
}
.ticon-search:before {
  content: "\e986";
}
