$icomoon-font-path: "fonts" !default;

$ticon-house: "\e909";
$ticon-computer: "\e90a";
$ticon-account: "\e90b";
$ticon-call: "\e90c";
$ticon-printer: "\e90d";
$ticon-key: "\e90e";
$ticon-camera: "\e900";
$ticon-earth: "\e901";
$ticon-heart: "\e902";
$ticon-lamp: "\e903";
$ticon-mail: "\e904";
$ticon-maintenance: "\e905";
$ticon-man: "\e906";
$ticon-map: "\e907";
$ticon-movie: "\e908";
$ticon-cart: "\e93a";
$ticon-search: "\e986";

