@import "variables";

@font-face {
  font-family: 'testfont';
  src: url('#{$test-font-path}/testfont.eot?kx5zwn');
  src: url('#{$test-font-path}/testfont.eot?kx5zwn#iefix') format('embedded-opentype'),
       url('#{$test-font-path}/testfont.ttf?kx5zwn') format('truetype'),
       url('#{$test-font-path}/testfont.woff?kx5zwn') format('woff'),
       url('#{$test-font-path}/testfont.svg?kx5zwn#testfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class*="ticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'testfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  opacity: 0;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticon-house {
  &::before {
    content: $ticon-house;
  }
}
.ticon-computer {
  &::before {
    content: $ticon-computer;
  }
}
.ticon-account {
  &::before {
    content: $ticon-account;
  }
}
.ticon-call {
  &::before {
    content: $ticon-call;
  }
}
.ticon-printer {
  &::before {
    content: $ticon-printer;
  }
}
.ticon-key {
  &::before {
    content: $ticon-key;
  }
}
.ticon-camera {
  &::before {
    content: $ticon-camera; 
  }
}
.ticon-earth {
  &::before {
    content: $ticon-earth; 
  }
}
.ticon-heart {
  &::before {
    content: $ticon-heart; 
  }
}
.ticon-lamp {
  &::before {
    content: $ticon-lamp; 
  }
}
.ticon-mail {
  &::before {
    content: $ticon-mail; 
  }
}
.ticon-maintenance {
  &::before {
    content: $ticon-maintenance; 
  }
}
.ticon-man {
  &::before {
    content: $ticon-man; 
  }
}
.ticon-map {
  &::before {
    content: $ticon-map;
  }
}
.ticon-movie {
  &::before {
    content: $ticon-movie; 
  }
}
.ticon-cart {
  &:before {
    content: $ticon-cart;
  }
}
.ticon-search {
  &:before {
    content: $ticon-search;
  }
}
