@import "media";

html {
  font-family: 'Roboto', sans-serif;
  background-color: #efefef;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
mark,
nav,
section,
summary,
time {
  display: block;
}

.wrapper {
  width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  @include box-shadow(0px 0px 30px 0px rgba(0,0,0,0.75));
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  &.is-active {
    .hamburger {
      &__inner {
        transform: translate3d(0,10px,0) rotate(45deg);
        top: -10px;

        &::before {
          transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
          opacity: 0;
        }

        &::after {
          transform: translate3d(0,-20px,0) rotate(-90deg);
          top: 20px;
        }
      }
    }
  }

  &__box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  &__inner {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;

    &::before,
    &::after {
      @extend .hamburger__inner;
      content: '';
      display: block;
    }

    &::before {
      top: -10px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform, opacity;
    }

    &::after {
      bottom: -10px;
    }
  }


}

/*
10 120 10 120 10 260 10 120 10

130/4=

@media (max-width: 1350px) {
@media (max-width: 1250px){
@media (max-width: 767px) {

@media (min-width: 500px) and (max-width: 750px) and (orientation: landscape){
 */
