@import "media";

.info {
  background-image: url(/assets/images/mac-devices.png);
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  background-size: 60%;
  background-position: 95% 50%;
  height: 400px;
}

.info-box {
  width: 240px;
  float: left;
  text-align: center;

  &__avatar {
    width: 160px;
    height: 160px;
    margin: 30px auto 0;
    border-radius: 80px;
    border: 5px solid #fff;
    background-color: #F5F1F0;
    background-image: url(/assets/images/man.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.65;
    @include transition(all 200ms ease);

    &:hover {
      @include rotateY(180deg);
    }
  }

  &__label1 {
    color: #1F1F1F;
    font-size: 18px;
  }

  &__label2 {
    font-size: 14px;
    color: #585858;
    margin-bottom: 10px;
  }

  &__label3 {
    font-size: 14px;
    color: #3a3a3a;
  }

  &__email {
    a {
      font-size: 13px;
      color: #e36b95;
      text-decoration: none;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    color: #444;

    i {
      font-size: 25px;
      cursor: pointer;
      display: inline-block;

      &:hover {
        @include scale(1.3);
      }
    }
  }
}
