@media (max-width: 1110px) {
  body {
    .info {
      height: 360px;
    }
  }
}

@media (max-width: 768px) {
  body {
    .info {
      background: none;
      width: 48%;
      margin: 0 1%;
      float: left;
    }

    .info-box {
      width: 100%;

      &__icons {
        justify-content: space-evenly;
      }
    }
  }
}


@media (max-width: 400px) {
  body {
    .info {
      background: #f8f8f8;
      width: 100%;
      margin: 0;
    }

    .info-box {
      width: 100%;
      height: 100%;
    }
  }
}