@import "variables";

/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-100.woff') format('woff'), /* Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$roboto-font-path}/roboto-v18-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}